/etc/systemd/system/dns-updater.service
[Unit]
Description=DNS Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/xransum/Gits/dns-updater/dns_updater.py
WorkingDirectory=/home/xransum/Gits/dns-updater
User=xransum
Group=xransum
